array_storage/*
*/array_storage/*
*/*/array_storage/*
fits_storage/*
*/fits_storage/*
*/*/fits_storage/*
chains/*
*/chains/*
*/*/chains/*
Submit/*
*/Submit/*
*/*/Submit/*
spec_model_tests/Old/*
spec_model_tests/random/*
spec_model_tests/Plots/*
Utils/uveta*
Utils/Noise_calulations/*
*.old
*/*.old
*/*/*.old
*.pyc
*/*.pyc
*/*/*.pyc



