/*
**/.*
**/*.ipynb_checkpoints/
**/*.pyc
**/*.sh
**/*.ipynb
**/*.so
!.gitignore
!bayeseor/
!docs/
!README.md
!.readthedocs.yaml
!pyproject.toml
!environment.yaml
!example-config.yaml
!run-analysis.py
